doctype html
html
  head
    title Elephant
    link(href=require('./elephant.scss') rel='stylesheet')
  body
    .elephant
      .el-head
        .tusk.front
        .trunk
        .tusk.back
        .ear
        .eye
      .el-body
        .tail
      .leg.front-right
      .leg.front-left
      .leg.back-right
      .leg.back-left
      .grass
