@import "~normalize/normalize";
@import "/app/includes/cards.scss";

$backgroundGrey: #e9ecef;
$textColor: #212529;
$textBlue: #5EA9BE;
$textBlueGrey: #607d8b;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
  padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
}

html {
  font-family: "Noto Sans", sans-serif;
  background-color: $backgroundGrey;
}

body {
  max-width: 80rem;
  margin: 0 auto 2rem;
}

.text-amber {
  color: $textBlue;
}
.text-bluegrey {
  color: $textBlueGrey;
}

.hero-unit {
  padding: 2rem;
  padding-bottom: 1rem;
  position: relative;
  .title {
    font-size: 3.5rem;
    font-weight: 300;
    padding: 0rem 0 1rem;
  }
  .caption {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 0.25rem;
    line-height: 1.5;
  }
  hr {
    border: 0;
    box-sizing: content-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1.5rem 0 0;
  }
  .git-link {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 2rem;
    right: 48px;
    cursor: pointer;
  }
}

@media (max-width: 40rem) {
  .git-link {
    display: none;
  }
}