doctype html
html
  head
    title Inspecocat
    link(href=require('./inspectocat.scss') rel='stylesheet')
  body
    .coder-cat
      .head
        .head-inner
        .ear-left
        .ear-right
        .hair-left-1
        .hair-left-2
        .hair-right-1
        .hair-right-2
        .hat
          .hat-ribbon
          .hat-stripe-left
          .hat-stripe-right
        .face
          .eye-left
            .pupil
          .eye-right
          .nose
          .mouth
      .body
        .over-coat
        .button
        .collar-left-front
        .collar-left-back
        .collar-right-front
        .collar-right-back
      .hand-left
        .palm
          .dot-2
          .dot-3
          .dot-4
      .magnifier
        .handle
        .lens-cover
          .lens
            .shadow
      .ipad
        .control.c-1
        .control.c-2
        .control.c-3
        .left-tag
        .right-tag
      .hand-right