@import "~normalize/normalize";

body {
  overflow-x: hidden;
}

.scene {
  position: relative;

  .sky {
    background: #8fdbfe;
    height: 62vh;
    width: 100%;
    position: relative;

    .moon {
      border-radius: 50%;
      background: #e6f4fd;
      height: 6.5rem;
      width: 6.5rem;
      top: 3rem;
      left: 39%;
      position: relative;
    }

    .cloud {
      background: #e6f4fd;
      position: absolute;
      width: 15rem;
      height: 2rem;
      right: 3rem;
      top: 5em;
      transform: scale(0.85);
      border-radius: 2rem;

      &:before {
        position: absolute;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        content: "";
        background: #e6f4fd;
        top: -1.75rem;
        left: 1rem;
      }

      &:after {
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        content: "";
        background: #e6f4fd;
        top: -1rem;
        right: 1rem;
      }

      .cc {
        background: #e6f4fd;
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        top: -3rem;
        left: 3rem;

        &:after {
          background: #e6f4fd;
          position: absolute;
          content: "";
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          top: -1rem;
          left: 3.5rem;
        }
      }

      + .cloud {
        transform: scale(0.75);
        left: 3rem;
        right: initial;
        top: 9rem;
      }

      &:nth-of-type(3) {
        transform: scale(0.5) rotateY(-180deg);
        left: initial;
        right: 30%;
        top: 10.5rem;
      }

      &:nth-of-type(4) {
        transform: scale(0.55);
        left: 39%;
        top: 17rem;
        z-index: 16;
      }

      &:nth-of-type(5) {
        transform: scale(0.65) rotateY(180deg);
        left: initial !important;
        right: 18% !important;
        top: 16rem;
        z-index: 16;
      }
    }
  }

  .hills {
    position: relative;

    .hill {
      position: absolute;
      transform: scaleY(1.25);

      &:before {
        content: "";
        position: absolute;
        border-right: 25vw solid #30a9fa;
        border-left: 10vw solid transparent;
        border-top: 25vh solid transparent;
        border-bottom: 0vh solid transparent;
      }

      &:after {
        content: "";
        position: absolute;
        border-right: 20vw solid transparent;
        border-left: 15vw solid #02425e;
        border-top: 25vh solid transparent;
        border-bottom: 0vh solid transparent;
      }

      &:nth-of-type(1) {
        &:before {
          left: -17vw;
          top: -25vh;
          border-left: none;
        }

        &:after {
          left: 8vw;
          top: -25vh;
          border-left: 24vw solid #02425e;
          border-right: none;
        }
      }

      &:nth-of-type(2) {
        z-index: 2;

        &:before {
          left: -10vw;
          top: -24vh;
          border-top: 24vh solid transparent;
        }

        &:after {
          left: 25vw;
          top: -24vh;
          border-top: 24vh solid transparent;
          border-left: 27vw solid #02425e;
        }
      }

      &:nth-of-type(3) {
        z-index: 3;

        &:before {
          display: none;
        }

        &:after {
          top: -18vh;
          border-top: 18vh solid transparent;
          border-left: 26vw solid #02425e;
          left: -1vw;
        }
      }

      &:nth-of-type(4) {
        z-index: 1;

        &:before {
          top: -29vh;
          left: 16vw;
          border-top: 29vh solid transparent;
          border-right: 30vw solid #30a9fa;
          border-left: none;
        }

        &:after {
          top: -29vh;
          left: 46vw;
          border-top: 29vh solid transparent;
          border-left: 30vw solid #02425e;
          border-right: none;
        }
      }

      &:nth-of-type(5) {
        &:before {
          top: -25vh;
          left: 31vw;
          border-top: 25vh solid transparent;
          border-right: 35vw solid #30a9fa;
          border-left: none;
        }

        &:after {
          top: -25vh;
          left: 66vw;
          border-left: 30vw solid #02425e;
          border-right: none;
        }
      }

      &:nth-of-type(6) {
        z-index: 6;

        &:before {
          top: -24vh;
          left: 56vw;
          border-top: 24vh solid transparent;
          border-left: none;
        }

        &:after {
          border-top: 24vh solid transparent;
          top: -24vh;
          left: 81vw;
          border-left: 19vw solid #02425e;
          border-right: none;
        }
      }

      &:nth-of-type(7) {
        z-index: 7;

        &:after {
          display: none;
        }

        &:before {
          top: -20vh;
          left: 70vw;
          border-top: 20vh solid transparent;
          border-right: 30vw solid #02425e;
          border-left: none;
        }
      }

      &:nth-of-type(8) {
        z-index: 8;

        &:before {
          border-right: 7vw solid #0584d8;
          top: -7vh;
          left: 33vw;
          border-left: none;
          border-top: 7vh solid transparent;
        }

        &:after {
          border-left: 7vw solid #023b54;
          top: -7vh;
          left: 40vw;
          border-right: none;
          border-top: 7vh solid transparent;
        }
      }

      &:nth-of-type(9) {
        z-index: 7;

        &:before {
          border-right: 9vw solid #0584d8;
          top: -9vh;
          left: 45vw;
          border-left: none;
          border-top: 9vh solid transparent;
        }

        &:after {
          border-left: 9vw solid #023b54;
          top: -9vh;
          left: 54vw;
          border-right: none;
          border-top: 9vh solid transparent;
        }
      }
    }
  }

  .field {
    background: #0f4e20;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 2vh;
    bottom: 0vh;

    .valley {
      &:nth-of-type(1) {
        background: #0f4e20;
        position: absolute;
        width: 37vw;
        height: 4vh;
        top: -4vh;
        z-index: 9;

        &:after {
          border-left: 3vw solid #0f4e20;
          content: "";
          position: absolute;
          border-right: none;
          border-top: 4.1vh solid transparent;
          border-bottom: 0vh solid transparent;
          right: -3vw;
          top: 0vh;
        }
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        background: #0f4e20;
        position: absolute;
        width: 32vw;
        height: 3vh;
        top: -3vh;
        z-index: 9;
        left: 52vw;
      }

      &:nth-of-type(2):before,
      &:nth-of-type(3):before {
        position: absolute;
        content: "";
        border-right: 3.09vw solid #0f4e20;
        border-left: none;
        border-top: 3.1vh solid transparent;
        border-bottom: none;
        left: -3vw;
        top: 0vh;
      }

      &:nth-of-type(2):after {
        position: absolute;
        content: "";
        border-left: 3.1vw solid #0f4e20;
        border-right: none;
        border-top: 3.1vh solid transparent;
        border-bottom: none;
        right: -3vw;
        top: 0vh;
      }

      &:nth-of-type(3) {
        &:after {
          position: absolute;
          content: "";
          border-left: 3.1vw solid #0f4e20;
          border-right: none;
          border-top: 3.1vh solid transparent;
          border-bottom: none;
          right: -3vw;
          top: 0vh;
        }

        width: 16vw;
        height: 2vh;
        top: -5vh;
        left: 60vw;
      }
    }

    span.tree {
      position: absolute;
      display: block;
      z-index: -1;

      &:before {
        position: absolute;
        content: "";
        border-right: 2vw solid #169342;
        border-left: none;
        border-bottom: 0;
        border-top: 10vh solid transparent;
      }

      &:after {
        position: absolute;
        content: "";
        border-left: 2vw solid #0f4e20;
        border-right: none;
        border-bottom: 0;
        border-top: 10vh solid transparent;
        left: 2vw;
      }

      &:nth-of-type(1) {
        &:before,
        &:after {
          top: -10vh;
        }
      }

      &:nth-of-type(2) {
        &:before {
          top: -13vh;
          left: 10vw;
        }

        &:after {
          top: -13vh;
          left: 12vw;
        }
      }

      &:nth-of-type(3) {
        z-index: 4;

        &:before {
          top: -7vh;
          left: 44vw;
          border-top: 7vh solid transparent;
          border-right: 1vw solid #169342;
        }

        &:after {
          top: -7vh;
          left: 45vw;
          border-top: 7vh solid transparent;
          border-left: 1vw solid #0f4e20;
        }
      }

      &:nth-of-type(4) {
        &:before {
          top: -10vh;
          left: 45vw;
        }

        &:after {
          top: -10vh;
          left: 47vw;
        }
      }

      &:nth-of-type(5) {
        &:before {
          top: -10vh;
          left: 48vw;
        }

        &:after {
          top: -10vh;
          left: 49.95vw;
        }
      }

      &:nth-of-type(6) {
        z-index: 5;

        &:before {
          top: -13vh;
          left: 62vw;
        }

        &:after {
          top: -13vh;
          left: 64vw;
        }
      }

      &:nth-of-type(7) {
        &:before {
          top: -11vh;
          left: 64vw;
        }

        &:after {
          top: -11vh;
          left: 66vw;
        }
      }

      &:nth-of-type(8) {
        &:before {
          top: -10vh;
          left: 66vw;
        }

        &:after {
          top: -10vh;
          left: 68vw;
        }
      }

      &:nth-of-type(9) {
        &:before {
          top: -12vh;
          left: 68vw;
        }

        &:after {
          top: -12vh;
          left: 70vw;
        }
      }

      &:nth-of-type(10) {
        &:before {
          top: -10vh;
          left: 88vw;
        }

        &:after {
          top: -10vh;
          left: 90vw;
        }
      }

      &:nth-of-type(11) {
        &:before {
          top: -7vh;
          left: 92vw;
          border-top: 7vh solid transparent;
          border-right: 1.5vw solid #169342;
        }

        &:after {
          top: -7vh;
          left: 93.5vw;
          border-top: 7vh solid transparent;
          border-left: 1.5vw solid #0f4e20;
        }
      }
    }
  }

  .river {
    position: absolute;
    width: 100%;
    height: 38vh;
    z-index: 15;
    background: #27a5fb;

    .ripple,
    .wave.wave-2 .ripple {
      width: 25vw;
      height: 1.15vh;
      display: block;
      position: absolute;
      background: #bde4fe;
    }

    .ripple:before,
    .wave.wave-2 .ripple:before,
    .ripple:after,
    .wave.wave-2 .ripple:after {
      height: 1.15vh;
      position: absolute;
      background: #bde4fe;
      content: "";
    }

    .ripple:nth-of-type(1),
    .wave.wave-2 .ripple:nth-of-type(1) {
      left: 5vw;
      top: 3.25vh;
      border-radius: 5rem;
    }

    .ripple:nth-of-type(1):after,
    .wave.wave-2 .ripple:nth-of-type(1):after {
      width: 3vw;
      right: -4vw;
      border-radius: 5rem;
    }

    .ripple:nth-of-type(1):before,
    .wave.wave-2 .ripple:nth-of-type(1):before {
      width: 1vw;
      left: -1.75vw;
      border-radius: 5rem;
    }

    .ripple:nth-of-type(2),
    .wave.wave-2 .ripple:nth-of-type(2) {
      left: 52vw;
      width: 5vw;
      top: 3.25vh;
      border-radius: 20rem;
    }

    .ripple:nth-of-type(2):after,
    .wave.wave-2 .ripple:nth-of-type(2):after {
      width: 1vw;
      right: -6vw;
      border-radius: 20rem;
    }

    .ripple:nth-of-type(2):before {
      width: 3vw;
      right: -4vw;
      border-radius: 20rem;
    }

    .wave {
      &.wave-2 {
        .ripple:nth-of-type(2):before {
          width: 3vw;
          right: -4vw;
          border-radius: 20rem;
        }

        .river {
          > .ripple:nth-of-type(1) {
            width: 24vw;
            top: 21vh;
            opacity: 0.4;
            left: 18vw;
          }

          > .ripple:nth-of-type(1):after {
            display: none;
          }

          > .ripple:nth-of-type(1):before {
            width: 3vw;
            left: -4vw;
          }

          > .ripple:nth-of-type(2) {
            width: 4vw;
            top: 30vh;
            opacity: 0.4;
            left: 58vw;
          }

          > .ripple:nth-of-type(2):after {
            width: 2vw;
            left: 5vw;
          }

          > .ripple:nth-of-type(2):before {
            width: 15vw;
            left: -16vw;
          }

          > .ripple:nth-of-type(3) {
            width: 7vw;
            top: 23vh;
            opacity: 0.4;
            left: 65vw;
            border-radius: 5rem;
          }

          > .ripple:nth-of-type(3):after {
            width: 2vw;
            left: 9vw;
            border-radius: 5rem;
          }

          > .ripple:nth-of-type(3):before {
            display: none;
          }
        }
      }

      position: absolute;
      width: 100%;

      .wave-inner {
        background: #5acdfc;
        content: "";
        position: absolute;
      }

      &:nth-child(1) {
        background: #5acdfc;
        height: 3vh;

        .wave-inner {
          width: 80vw;
          height: 3vh;
          top: 3vh;

          &:after {
            position: absolute;
            content: "";
            border-right: none;
            border-left: 5vw solid #5acdfc;
            border-bottom: 3vh solid transparent;
            left: 80vw;
            top: 0;
          }
        }
      }

      &:nth-child(2) {
        background: #5acdfc;
        opacity: 0.5;
        top: 3vh;
        height: 9vh;

        .wave-inner {
          background: #5acdfc;
          width: 40vw;
          height: 10vh;
          right: 0;
          top: 7vh;

          &:before {
            content: "";
            position: absolute;
            border-left: none;
            border-right: 12vw solid #5acdfc;
            border-bottom: 10vh solid transparent;
            right: 40vw;
            top: 0;
          }
        }
      }

      &.wave-2 .ripple {
        &:nth-of-type(1) {
          width: 4vw;
          top: 5vh;
          left: 20vw;

          &:before {
            width: 10vw;
            left: -13vw;
          }

          &:after {
            display: none;
          }
        }

        &:nth-of-type(2) {
          width: 6vw;
          top: 5vh;
          left: 50vw;

          &:before {
            width: 2vw;
            left: -3vw;
          }

          &:after {
            display: none;
          }
        }

        &:nth-of-type(3) {
          width: 15vw;
          top: 10vh;
          left: 70vw;
          border-radius: 20rem;

          &:before {
            width: 1vw;
            left: -2vw;
            border-radius: inherit;
          }

          &:after {
            display: none;
          }
        }

        &:nth-of-type(4) {
          width: 2vw;
          top: 13vh;
          left: 89vw;
          border-radius: 20rem;

          &:before {
            width: 7vw;
            left: -8vw;
            border-radius: inherit;
          }

          &:after {
            display: none;
          }
        }
      }
    }

    > .ripple:nth-of-type(1) {
      width: 24vw;
      top: 21vh;
      opacity: 0.4;
      left: 18vw;
    }

    > .ripple:nth-of-type(1):after {
      display: none;
    }

    > .ripple:nth-of-type(1):before {
      width: 3vw;
      left: -4vw;
    }

    > .ripple:nth-of-type(2) {
      width: 4vw;
      top: 30vh;
      opacity: 0.4;
      left: 58vw;
    }

    > .ripple:nth-of-type(2):after {
      width: 2vw;
      left: 5vw;
    }

    > .ripple:nth-of-type(2):before {
      width: 15vw;
      left: -16vw;
    }

    > .ripple:nth-of-type(3) {
      width: 7vw;
      top: 23vh;
      opacity: 0.4;
      left: 65vw;
      border-radius: 5rem;
    }

    > .ripple:nth-of-type(3):after {
      width: 2vw;
      left: 9vw;
      border-radius: 5rem;
    }

    > .ripple:nth-of-type(3):before {
      display: none;
    }
  }

  .yatcht {
    position: absolute;

    .hull {
      position: absolute;
      width: 8vw;
      height: 2vh;
      background: #00529b;
      transform: skewX(-45deg);
      top: 1.15vh;
      left: 7vw;

      .stern {
        position: absolute;
        left: -1.85vw;
        width: 2vw;
        border-bottom: 0;
        border-left: 0.25vw solid transparent;
        border-right: 0.5vw solid transparent;
        border-top: 2vh solid #02425e;
        transform: skewX(45deg);
      }
    }

    .deck {
      transform: skewX(45deg);
      position: absolute;
      width: 3vw;
      top: -2.75vh;
      border-bottom: 2.15vh solid #00529b;
      border-right: 2vw solid transparent;
      border-left: 0;
      border-top: none;

      .entry {
        width: 0.75vw;
        height: 1vh;
        background: #5acdfc;
        position: absolute;
        top: 1.25vh;
        left: 0.5vw;

        + .entry {
          left: 1.65vw;
        }
      }

      &:before {
        width: 1.95vw;
        height: 2.15vh;
        content: "";
        position: absolute;
        background: #02425e;
        left: -1.85vw;
      }
    }

    .main-sail {
      position: absolute;
      background: #8ddefc;
      width: 7vw;
      height: 16vh;
      transform: none;
      border-radius: 100% 0 100% 0 / 100% 100% 0 0;
      top: -17vh;
      left: -5vw;
    }

    &:nth-of-type(2) {
      transform: scale(2.15);
      top: 14vh;
      left: 11vw;

      .main-sail {
        background: #d6f0fd;
        width: 8vw;
        height: 20vh;
        left: -5vw;
        top: -20.75vh;
      }

      .deck {
        border-bottom-color: #d6f0fd;

        .entry {
          background: #27a5fb;
        }

        &:before {
          background: #5acdfc;
        }
      }
    }

    &:nth-of-type(3) {
      transform: scale(1.25);
      left: 55vw;
      top: 9vh;

      .main-sail {
        background: #c4eafd;
        width: 6vw;
        height: 19vh;
        top: -20vh;
        left: -5vw;
      }

      .deck {
        border-bottom-color: #c4eafd;

        .entry {
          background: #27a5fb;
        }

        &:before {
          background: #5acdfc;
        }
      }
    }
  }
}

